html,
body
    {
        margin-left: 5%;
        margin-right: 5%;
        background-color: black;
        color: #ffffff;
    }
    .back
    {
        background-color: lightslategray;
        height: 2000px;
        margin: 1px;
    }
    .btns
    {
        text-align: center;
        margin-top: 50px;
    }
    .efeito
    {   
        border: none;
        color: #ffffff;
        padding: 25px;
        width: 145px;
        margin: 0px;
        font-size: 24px;
        line-height: 24px;
        border-radius: 2px;
        position: relative;
        box-sizing: border-box;
        cursor: pointer;
        transition: all 400ms ease;
        background-color: #8dbcf1;
    }
    .efeito:hover
    {
        background: rgba(0, 0, 0, 0);
        color:rgb(255, 255, 255);
        box-shadow: inset 0 0 0 3px #ffffff;
    }
    #menu{
        position: fixed;
        left: 0;
        top: 40%;
        width: 4cm;
        margin-top: -2.5em;
        margin-left: 5px;
    }